/* You can add global styles to this file, and also import other style files */
.loginPanel .ui-panel-titlebar {
    text-align: center;
}

.loginGrowl.ui-growl {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
}

.registerGrowl.ui-growl {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
}

.addClientGrowl.ui-growl {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
}

.alert.flash-message.ui-messages-info {
    background-color: #84d0e6;
}

.alert p {
    margin-bottom: 0;
    padding: 0;
}

#addNewButton.ui-button{
    display: block;
    width: 90%;
    margin: auto;
}