<p-growl [(value)]="changePasswordMsgs" styleClass="changePasswordGrowl"></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" key="confirmChangePassword"></p-confirmDialog>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" acceptLabel="OK" [rejectVisible]="false" key="confirmSuccessPassword"></p-confirmDialog>

<div class="ui-grid-row">
  <div class="ui-grid-col-6">
    <button pButton type="button" class="ui-button-info" label="Back To Dashboard" icon="fa-arrow-circle-o-left" iconPos="left" (click)="onClick()"></button>
  </div>
  <div class="ui-grid-col-6">
    
  </div>
</div>
<br>

<form
*ngIf="user"
[formGroup]="changePasswordForm"
(ngSubmit)="onChangeSubmit(changePasswordForm.value)"
>
<p-panel header="Change Password">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        Current Password *:
      </div>
      <div class="ui-grid-col-6">
        <input 
          pInputText
          type="password"
          formControlName="candidatePassword"
        >
      </div>
      <div class="ui-grid-col-4">
        <div 
          class="ui-messages ui-messages-error ui-corner-all"
          *ngIf="!changePasswordForm.controls['candidatePassword'].valid && changePasswordForm.controls['candidatePassword'].dirty" 
        >
          <i class="fa fa-close"></i>
          <span *ngIf="changePasswordForm.controls['candidatePassword'].errors['required']">This field is required</span>
          <span *ngIf="changePasswordForm.controls['candidatePassword'].errors['minlength']">Must be at least 6 characters</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        New Password *:
      </div>
      <div class="ui-grid-col-6">
        <input 
          pInputText
          type="password"
          formControlName="newPassword"
        >
      </div>
      <div class="ui-grid-col-4">
        <div 
          class="ui-messages ui-messages-error ui-corner-all"
          *ngIf="!changePasswordForm.controls['newPassword'].valid && changePasswordForm.controls['newPassword'].dirty" 
        >
          <i class="fa fa-close"></i>
          <span *ngIf="changePasswordForm.controls['newPassword'].errors['required']">This field is required</span>
          <span *ngIf="changePasswordForm.controls['newPassword'].errors['minlength']">Must be at least 6 characters</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        Confirm Password *:
      </div>
      <div class="ui-grid-col-6">
        <input 
          pInputText
          type="password"
          formControlName="confirmNewPassword"
        >
      </div>
      <div class="ui-grid-col-4">
        <div 
          class="ui-messages ui-messages-error ui-corner-all"
          *ngIf="!changePasswordForm.controls['confirmNewPassword'].valid && changePasswordForm.controls['confirmNewPassword'].dirty" 
        >
          <i class="fa fa-close"></i>
          <span *ngIf="changePasswordForm.controls['confirmNewPassword'].errors['required']">This field is required</span>
          <span *ngIf="changePasswordForm.controls['confirmNewPassword'].errors['minlength']">Must be at least 6 characters</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-6">
          <button pButton type="submit" label="Submit" [disabled]="!changePasswordForm.valid"></button>
      </div>
    </div>
  </div>
</p-panel>
</form>