<!--Confirmation Dialog -->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>

<div class="ui-grid-row">
  <div class="ui-grid-col-6">
    <button pButton type="button" class="ui-button-info" label="Back To Dashboard" icon="fa-arrow-circle-o-left" iconPos="left" (click)="onClick()"></button>
  </div>
  <div class="ui-grid-col-6 ui-rtl" dir="rtl">
    <p-splitButton label="Manage" [model]="buttonItems" styleClass="ui-button-secondary" menuStyleClass="clientDetailSplitBtnMenu"></p-splitButton>
  </div>
</div>
<br>

<div *ngIf="client">
  <p-panel styleClass="editClientPanel">
    <p-header>
      <h3 class="ui-panel-title" style="display:inline-block;margin-top:10px">{{client.firstName}} {{client.lastName}}</h3>
    </p-header>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8 ui-sm-12">
        <h4 style="margin-top: 10px">Client ID: {{id}}</h4>
      </div>
      <div class="ui-grid-col-4 ui-sm-12">
        <h3 class="pull-right">
          Balance: 
          <span
            [class.text-danger]="hasBalance"
            [class.text-success]="!hasBalance"
          >
            {{client.balance | currency:'USD':true}}
          </span>
          <small>
            <button pButton type="button" class="ui-button-secondary" icon="fa-pencil" (click)="showEditBalanceInput = !showEditBalanceInput"></button>
          </small>
        </h3>
        <div class="clearfix">
          <form *ngIf="showEditBalanceInput" (submit)="updateBalance()" class="form-inline pull-right">
            <div class="form-group">
              <input pInputText type="number" name="balance" [(ngModel)]="client.balance">
            </div>
            <button pButton type="submit" icon="fa-check" style="margin-left: 5px"></button>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Contact Email: {{client.email}}</li>
      <li class="list-group-item">Contact Phone: {{client.phone}}</li>
    </ul>
    <p-footer></p-footer>
  </p-panel>
</div>